@import "base";
@import "wireframes/zurb";

#drupal-patterns, #drupal-navigation, #drupal-forms {
  max-width: 960px;
  margin: 0 auto;
  .element {
    width: 45%;
    margin-right: 5%;
    background: #efefef;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    float: left;
    &:nth-child(2n) {
      clear: both;
    }
    .element-title {
      background: #ddd;
      padding: 5px;
      text-align: center;
    }
  }
}
