<ol class="comments-list">

	  <li class="comment" id="comment-1">
		  <div class="comment-meta">
	      Reviewer Name on <time datetime="2009-06-30T15:00:21+00:00" class="pubdate">June 30, 2009</time> said ...
	      <div class="rating"><partial file="content/star-rating"></partial></div>
	    </div>
	    <div class="comment-body">
			  <p>Reviewers comment shows here tattooed letterpress vice butcher pop-up umami mlkshk +1. Iphone readymade beard, yr selvage trust fund actually hashtag art party synth ethical tonx fap. 3 wolf moon organic retro VHS tattooed. Church-key actually aesthetic, authentic 3 wolf.</p>
	    </div>
	  </li>

	  <li class="comment" id="comment-2">
		  <div class="comment-meta">
	      Reviewer Name on <time datetime="2009-06-30T15:00:21+00:00" class="pubdate">June 30, 2009</time> said ...
	      <div class="rating"><partial file="content/star-rating"></partial></div>
	    </div>
	    <div class="comment-body">
			  <p>Reviewers comment shows here tattooed letterpress vice butcher pop-up umami mlkshk +1. Iphone readymade beard, yr selvage trust fund actually hashtag art party synth ethical tonx fap. 3 wolf moon organic retro VHS tattooed. Church-key actually aesthetic, authentic 3 wolf.</p>
	    </div>
	  </li>

	  <li class="comment" id="comment-3">
		  <div class="comment-meta">
	      Reviewer Name on <time datetime="2009-06-30T15:00:21+00:00" class="pubdate">June 30, 2009</time> said ...
	      <div class="rating"><partial file="content/star-rating"></partial></div>
	    </div>
	    <div class="comment-body">
			  <p>Reviewers comment shows here tattooed letterpress vice butcher pop-up umami mlkshk +1. Iphone readymade beard, yr selvage trust fund actually hashtag art party synth ethical tonx fap. 3 wolf moon organic retro VHS tattooed. Church-key actually aesthetic, authentic 3 wolf.</p>
	    </div>
	  </li>

  </ol>
