<ul class="star-rating">
  
  <li>
    
    <span class="star">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 width="15.893px" height="16px" viewBox="0 0 15.893 16" enable-background="new 0 0 15.893 16" xml:space="preserve">
        <path fill="#B4B4B5" d="M7.989,0.021l2.425,5.977l5.479,0.015l-4.188,4.001L13.827,16L7.999,12.6l-5.954,3.379l2.125-5.914L0,6.012
  	l5.506,0.009L7.989,0" class="star-svg full" />
      </svg>
    </span>
    
  </li>
  
  <li>
    
    <span class="star">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 width="15.893px" height="16px" viewBox="0 0 15.893 16" enable-background="new 0 0 15.893 16" xml:space="preserve">
        <path fill="#B4B4B5" d="M7.989,0.021l2.425,5.977l5.479,0.015l-4.188,4.001L13.827,16L7.999,12.6l-5.954,3.379l2.125-5.914L0,6.012
  	l5.506,0.009L7.989,0" class="star-svg full" />
      </svg>
    </span>
    
  </li>
  
  <li>
    
    <span class="star">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 width="15.893px" height="16px" viewBox="0 0 15.893 16" enable-background="new 0 0 15.893 16" xml:space="preserve">
        <path fill="#B4B4B5" d="M7.989,0.021l2.425,5.977l5.479,0.015l-4.188,4.001L13.827,16L7.999,12.6l-5.954,3.379l2.125-5.914L0,6.012
  	l5.506,0.009L7.989,0" class="star-svg full" />
      </svg>
    </span>
    
  </li>
  
  <li>
    
    <span class="star">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 width="15.893px" height="16px" viewBox="0 0 15.893 16" enable-background="new 0 0 15.893 16" xml:space="preserve">
        <path fill="#B4B4B5" d="M7.989,0.021l2.425,5.977l5.479,0.015l-4.188,4.001L13.827,16L7.999,12.6l-5.954,3.379l2.125-5.914L0,6.012
  	l5.506,0.009L7.989,0" class="star-svg" />
      </svg>
    </span>
    
  </li>
  
  <li>
    
    <span class="star">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 width="15.893px" height="16px" viewBox="0 0 15.893 16" enable-background="new 0 0 15.893 16" xml:space="preserve">
        <path fill="#B4B4B5" d="M7.989,0.021l2.425,5.977l5.479,0.015l-4.188,4.001L13.827,16L7.999,12.6l-5.954,3.379l2.125-5.914L0,6.012
  	l5.506,0.009L7.989,0" class="star-svg" />
      </svg>
    </span>
    
  </li>
  
</ul>