<%
  @bodyclass = "testing123"
  @template = "3col"
  @templatecss = "true"
%>

<%= render "partials/test", :locals => {  :title => "Past Events" } %>

<% content_for :left do %>
  <h2>left</h2>
<% end %>

<% content_for :middle do %>
  <h2>middle</h2>
<% end %>

<% content_for :right do %>
  <h2>right</h2>
<% end %>
