<section class="search-box" role="search">
  <form action="/" method="post" id="search-block-form" accept-charset="UTF-8">
    <div class="form-item form-type-searchfield form-item-search-block-form">
      <input class="search-field" type=search name=s>
    </div>
    <div class="form-actions form-wrapper visuallyhidden" id="edit-actions">
      <input type="submit" id="edit-submit" name="op" value="Search" class="form-submit" />
    </div>
      <input type="hidden" name="form_build_id" value="form-4wMKgfmYUuMPR4pmc_AcyTt-jd_rBH8rNxT5GVbgtac" />
      <input type="hidden" name="form_id" value="search_block_form" />
  </form>
</section>
