<div id="billboard">

  <a class="next-link scroll" href="#billboard">See more</a>

  <ul>
  
    <li class="videos">
      <h2>An unrivaled library of Drupal training videos</h2>
      <p>With more than 244 hours of Drupal training videos, Drupalize.Me is the most comprehensive source for Drupal learning anywhere on the internet!</p>
      <p><a class="action-link" href="#">Browse the Library</a></p>
    </li>
    
    <li class="experts">
      <h2>Learn from friendly, experienced Drupal experts</h2>
      <p>Our trainers include developers and architects who have worked with some of the world's top brands building amazing online experiences with Drupal.</p>
      <p><a class="action-link" href="#">See our Team</a></p>
    </li>
    
    <li class="training">
      <h2>Expert, on-site training for your development team</h2>
      <p>Our friendly, expert trainers have trained teams at some of the top companies in the world, providing them with empowering knowledge and peace of mind.</p>
      <p><a class="action-link" href="#">Learn more about Training</a></p>
    </li>
  
  </ul>

</div>