<div class="browse-home">
  <h2 class="block-title">Browse what's popular</h2>

  <ul class="options-links">
    <li><a href="#">Browse the entire library</a></li>
    <li><a href="#">Use our helpful Guides</a></li>
  </ul>

  <partial file="blocks/videos-list"></partial>

  <a class="browse-more" href="#">Browse the Entire Library</a>

  <p><a class="action-link primary" href="../../pricing.html">Start Learning Drupal Today!</a></p>
  <p><a class="secondary" href="../../pricing.html">See pricing info</a></p>
</div>
