<div class="clients">

  <h2 class="block-title">Trusted by Over 1,200 Members &amp; Top Companies</h2>

  <ul class="client-list">
    <li class="maxim"><img src="img/client_maxim.svg" alt="MAXIM"></li>
    <li class="nvidia"><img src="img/client_nvidia.svg" alt="NVIDIA"></li>
    <li class="sonypictures"><img src="img/client_sonypictures.svg" alt="Sony Pictures"></li>
    <li class="nbc"><img src="img/client_nbc.svg" alt="NBC Universal"></li>
    <li class="npr"><img src="img/client_npr.svg" alt="NPR"></li>
    <li class="ge"><img src="img/client_ge.svg" alt="GE"></li>
    <li class="redhat"><img src="img/client_redhat.svg" alt="redhat"></li>
  </ul>

</div>
