<div class="hero-content">
  <h1 class="hero-title">2013 is Your Year to Learn Drupal. Limited Time Savings on a 1 Year Membership</h1>
  <p>Sign up today and get 1 year of Drupalize.Me for the price of a 6 month membership. This grants you cheaper-than-ever access to Lullabot's unrivaled Drupal training videos, learn on-the-go apps and tips from top Drupal experts. New videos are added every week!</p>
  <p><a class="action-link primary" href="../../pricing.html">Start Learning Drupal Today!</a></p>
  <p><a class="secondary" href="../../pricing.html">See pricing info</a></p>
</div>