<article class="resources block">

  <h1 class="block-title">Generic Block Title</h1>
  
  <p>Assuming there's paragraphs of text in a block it would show like this single-origin coffee scenester artisan cray irony. Butcher helvetica Cosby sweater, Marfa church-key hella typewriter. <strong>Some strong text for good measure.</strong></p>
  <p>Etsy umami salvia cornhole literally forage kale chips pork belly. Photo booth McSweeney's bicycle rights Williamsburg</p>
  
  <ul class="fancy-list">
    <li><a href="#">Link in a "fancy-list" ul li</a></li>
    <li><a href="#">Link in a "fancy-list" ul li</a></li>
    <li><a class="download" href="#">Link with "download" class</a></li>
    <li><a class="download" href="#">Link with "download" class</a></li>
    <li><a class="download" href="#">Link with "download" class</a></li>
    <li><span>Span in a "fancy-list" ul li</span></li>
    <li><span>Span in a "fancy-list" ul li</span></li>
  </ul>
  
  <p>Below you'll see more text content in the form of a standard ul (no "fancy-list" class).</p>
  
  <ul>
    <li>Standard bullet list item</li>
    <li>Standard bullet list item</li>
    <li>Standard bullet list item</li>
  </ul>
  
  <p>Below you'll see more text content in the form of a standard ol.</p>
  
  <ol>
    <li>Standard ordered list item</li>
    <li>Standard ordered list item</li>
    <li>Standard ordered list item</li>
  </ol>
  
  <a class="action-link primary" href="#">Action Link Primary</a>
  <a class="action-link secondary" href="#">Action Link Secondary</a>
  <a class="action-link tertiary" href="#">Action Link Tertiary</a>

</article>