<div id="testimonials">

  <a class="next-link scroll" href="#reviews">See more</a>

  <h2 class="block-title">The reviews are in!</h2>

  <blockquote>
    <p>Great member quote shows here stumptown fanny pack etsy pinterest 3 wolf moon semiotics neutra chambray ugh terry richardson whatever. Mustache chillwave retro, cred quinoa salvia odd future. Disrupt vice mustache helvetica american apparel banksy.</p>
    <footer>
      <span class="name">First Lastname</span> <span class="organization">Company</span>
    </footer>
  </blockquote>

  <img class="testimonials-player" src="img/testimonials-player-placeholder.jpg" alt="The reviews are in" />

</div>
