<div class="filters">

  <ul class="types">
    <h3 class="label">Types:</h3>
    <li><a class="active" href="#">Videos</a></li>
    <li><a class="active" href="#">Series</a></li>
    <li><a class="active" href="#">Guides</a></li>
  </ul> <!-- /.types -->

  <ul class="drupal-versions">
    <h3 class="label">Drupal Versions:</h3>
    <li><a class="active" href="#">D6</a></li>
    <li><a class="active" href="#">D7</a></li>
    <li><a href="#">D8</a></li>
  </ul> <!-- /.drupal-versions -->

  <div class="categories-group">
    <ul class="categories">
      <h3 class="label">Categories:</h3>
      <li><a class="active" href="#">All Categories</a></li>
      <li>
        <a class="show-filters" href="#">More Category Filters</a>
      </li>
    </ul> <!-- /.categories -->

    <ul class="full-list">
      <li><a class="active" href="#">Module Development</a></li>
      <li><a class="active" href="#">Site Building</a></li>
      <li><a class="active" href="#">Trends in Social &amp; Open Web</a></li>
      <li><a class="active" href="#">Backend &amp; Infrastructure</a></li>
      <li><a class="active" href="#">Community</a></li>
      <li><a class="active" href="#">Theming</a></li>
      <li><a class="active" href="#">Administering</a></li>
      <li><a class="active" href="#">Business &amp; Management</a></li>
      <li><a class="active" href="#">Tools &amp; Tips</a></li>
      <li><a class="active" href="#">Fantasy Sites</a></li>
      <li><a class="active" href="#">Case Studies</a></li>
      <li><a class="active" href="#">Content &amp; SEO</a></li>
      <li><a class="active" href="#">Questions &amp; Answers</a></li>
    </ul>
  </div>

</div>
