// If you're looking for the .action-link styling for button-like links, it lives in /global/forms.scss

.video-action-links {

  padding: 0;
  margin: 0;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    border-top: 1px solid $light-border;
    &:first-child {
      border-top: none;
    }
  }

  a {
    font-weight: bold;
    display: block;
    padding: .5em 0;
    font-size: 1em;
  }

  .add-to-queue {
    padding-left: 1.25em;
    background: url(../img/icon_plus.svg) no-repeat left center;
    background-size: auto 1em;
  }

  .transcript {
    padding-left: 1em;
    background: url(../img/icon_notebook.svg) no-repeat left center;
    background-size: auto 1em;
  }
  .share {
    padding-left: 1.2em;
    background: url(../img/icon_share.svg) no-repeat left .95em;
    background-size: auto 1em;
  }

}

////////////////////////////
// 54em min-width (768px) //
////////////////////////////

@media screen and (min-width: 54em) {

  .video-action-links {
    padding: .5em 0;
    @include span-columns(7, 12);
    li {
      display: inline-block;
      margin-right: 1em;
      border-top: none;
    }
    a {
      padding: .75em 0;
      font-size: 0.875em;
    }
  }

}
