

.blog header{
	padding-top: 4em;
	padding-bottom: 1em;
	@include respond-to($small){
		padding-top: 7em;
		padding-bottom: 4em;
	}
	h1{
		font-size: $h2-font-size;
		@include respond-to($small){
			font-size: $h1-font-size;
		}
		margin: 0 auto; 
		max-width: 20em;
	}
}

.blog .content{
	@include respond-to($small){
		padding-right: $gutter-width;
	}
	a.back-arrow{
		display: block;
		margin-bottom: 1em;
	}
	.blog-post{
		padding-top:2em;
		p.written-by{
			margin-top:0;
			font-size: .8em;
			color: $dark-grey;
		}

		h4{
			line-height: 1.5em;
		}
	}
}

.date{
		margin: 0em 0 0 0;
		color: $med-grey;
		font-size: .8em;
		font-style: italic; 
	}


