.content-secondary {
  
  .collection-info {
    .collection-type {
      color: $text;
      font-style: italic;
      line-height: 1;
      display: inline;
      padding: 0;
      margin-left: .15em;
    }
  }
  
}