<div class="blog-sidebar">
	<h4>Recent Blog Posts</h4>
	<ul>
		<li>
			<a href=#>Welcome to the Cameo Application Runtime – Where Your App is the Star</a>
			<p class="published-on-date">Published on: September 5th, 2013</p>
		</li>
		<li>
			<a href=#>Welcome to the Cameo Application Runtime – Where Your App is the Star</a>
			<p class="published-on-date">Published on: September 5th, 2013</p>
		</li>
		<li>
			<a href=#>Welcome to the Cameo Application Runtime – Where Your App is the Star</a>
			<p class="published-on-date">Published on: September 5th, 2013</p>
		</li>
		<li>
			<a href=#>Welcome to the Cameo Application Runtime – Where Your App is the Star</a>
			<p class="published-on-date">Published on: September 5th, 2013</p>
		</li>
	</ul>
	<img src="http://www.placehold.it/420x90/cccccc/484848&text=Fork+On+Github" />
</div>