<div class="blog-post">
  <h2><a href="./blog-node.html">Welcome to Cameo</a></h2>

  <div class="blog-info">
    <div class="avatar-image"><img src="http://www.placehold.it/100x100/cccccc/484848&text=Avatar" /></div>
    <div class="publish-info">
      <p class="date">Published on: September 5th, 2013</p>
      <p class="written-by">Written by: Bob Smith</p>
  </div>
  </div>
  <div class="blog-post-content">
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>




</div>
