<div class="how-cameo-works">
  <div class="container">
      <h2>How Does it Work?</h2>
      <div class="feature-block">
         <img class="support-image" src="http://www.placehold.it/140x140/cccccc/484848" />
       <h3>Tailored for the needs of Apps</h3>
       <p>A simple native API invokes Cameo passing in your application’s HTML5, CSS and JavaScript.  Cameo plug-ins let you add unique features without compromising browser security.</p>
      </div>
      <div class="feature-block">
         <img class="support-image" src="http://www.placehold.it/140x140/cccccc/484848" />
       <h3>Managed for You</h3>
       <p>The Cameo Managed runtime environment handles the entire application life cycle from invocation to termination.  Pick the OS you want for your platform, while offering the HTML5 features developers demand.</p>
      </div>
      <div class="feature-block">
         <img class="support-image" src="http://www.placehold.it/140x140/cccccc/484848" />
       <h3>The Best of Chromium, Remixed</h3>
       <p>Cameo remixes the best of Chromium and Blink to meet the unique needs of apps written in HTML5, CSS and JavaScript.  The browser bits are left behind.</p>
      </div>
  </div>
  <div class="container">
    <div class="feature-cta">
      <button class="button">Learn More</button>
    </div>
  </div>
</div>
