<div class="introduction">
  <div class="intro-hero"><img ph-img="800x450" text="Introduction Video!!"/></div>
  <div class="intro-text">
    <h2>Pellentesque ornare sem lacinia vestibulum.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus.</p>
    <div class="fork-cta">
      <button class="button">Fork on Github</button>
    </div>
  </div>
</div>
