<div class="recent-blog-entries">
  <h2><a href="#">Cameo Blog</a></h2>
  <div class="container" repeat="{{repeating}}">
    <div class="blog-entry">
      <div class="avatar-image"><img class="support-image" src="http://www.placehold.it/100x100/cccccc/484848&text=Avatar" /></div>
        <h3><a href="#/blog-node">Welcome to Cameo</a></h3>
        <div class="date">January 1, 2013</div>
        <div class="excerpt">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
          <a href="#/blog-node">Read More</a>
      </div>
    </div>
  </div>
</div>
