<div class="what-is-cameo">
  <h2>What Is Cameo?</h2>
  <div repeat={{repeating}}>
    <div class="feature-block">
       <img class="support-image" src="http://www.placehold.it/140x140/cccccc/484848" />
     <h3>Product Description</h3>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
     quis nostrud.</p>
    </div>
  </div>
  <div class="feature-cta">
    <button class="button">Learn More</button>
  </div>
</div>
