<div class="what-is-cameo">
  <div class="container">
      <h2>What Is Cameo Runtime?</h2>
      <div class="feature-block">
         <img class="support-image" src="http://www.placehold.it/140x140/cccccc/484848" />
       <h3>The Unbrowser for Apps, Not Sites</h3>
       <p>Browsers restrict what HTML5, CSS and JavaScript can do, to protect security and privacy.  But an HTML5 app needs access to platform features.  Cameo is for apps, not sites.</p>
      </div>
      <div class="feature-block">
         <img class="support-image" src="http://www.placehold.it/140x140/cccccc/484848" />
       <h3>High Performance, High Compliance</h3>
       <p>Each Cameo runtime is tuned to the OS it runs on.  Cameo is based on Chromium/Blink technology and the latest W3C APIs for great performance and exemplary standards compliance.</p>
      </div>
      <div class="feature-block">
         <img class="support-image" src="http://www.placehold.it/140x140/cccccc/484848" />
       <h3>Runs Where No Other Dares to Go</h3>
       <p>Cameo is aimed at Tizen Linux, Windows (desktop), Android and Mac OS X.  It can be Embedded in each app, or be built into a Managed platform to be shared among multiple apps.</p>
      </div>
  </div>
  <div class="container">
    <div class="feature-cta">
      <button class="button">Learn More</button>
    </div>
  </div>
</div>
