<div class="why-cameo">
  <h2>Why Use Cameo?</h2>
  <div class="container" repeat={{repeating}}>
    <div class="feature-block">
      <img class="support-image" src="http://www.placehold.it/140x140/cccccc/484848" />
      <h3>A Very Good Reason</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="feature-cta">
    <button class="button">Learn More</button>
  </div>
</div>
