<layout class="blog" file="blog-node-layout">

  <region name="header">
    <partial file="site/primary-nav"> </partial>
    <h1>Welcome to Your Blog. Enjoy Reading Some Awesome News</h1>
  </region>

  <region name="content">
    <partial file="blog/blog-post"></partial>
  </region>

  <region name="sidebar-first">
    <partial file="blog/blog-sidebar" repeating="2"></partial>
    <partial file="introduction" repeating="4"></partial>
  </region>

  <region name="footer">
    <partial file="site/footer-navigation"></partial>
    <partial file="site/legal-text"></partial>
  </region>

</layout>
