<div id="container" class="browse-page no-sidebar">

    <!-- $contentTitle = Organic Groups Overview -->
<!-- $authorName = Joe Shindelar -->
<!-- $twitterNick = @eojthebrave -->

  <header role="banner" class="global-header">
    <partial file="global/site-name"></partial>
    <partial file="global/nav-primary-auth"></partial>
  </header>

  <main role="main" class="main">

    <article class="main-content">

      <div class="content">
        <partial file="blocks/browse-list"></partial>
      </div> <!-- /.content -->

    </article> <!-- /.main-content -->

  </main><!-- /.main -->

  <footer class="global-footer">
    <partial file="global/nav-footer"></partial>
    <partial file="global/legal"></partial>
    <partial file="global/nav-social"></partial>
  </footer>

</div><!-- /#container -->
