<div class="components">

  <partial file="/site/primary-nav"></partial>
    <h2 class="component-heading">Logo</h2>
  <partial file="site/site-name"> </partial>
    <h2 class="component-heading">Introduction</h2>
  <partial file="home/introduction"> </partial>
    <h2 class="component-heading">What is Cameo</h2>
  <partial file="home/what-is-cameo" repeating="3"> </partial>
    <h2 class="component-heading">Why Use Cameo</h2>
  <partial file="home/why-cameo" repeating="3"> </partial>
    <h2 class="component-heading">How Cameo Works</h2>
  <partial file="home/how-cameo-works" repeating="3"> </partial>
    <h2 class="component-heading">Recent Blog Entries</h2>
  <partial file="home/recent-blog-entries" repeating="2"> </partial>
    <h2 class="component-heading">Newsletter Signup</h2>
  <partial file="home/newsletter-signup"> </partial>
    <h2 class="component-heading">Blost Post</h2>
  <partial file="blog/blog-post"></partial>
    <h2 class="component-heading">Recent Blog Sidebar</h2>
  <partial file="blog/blog-sidebar" repeating="2"></partial>
   <h2 class="component-heading">Blog Introduction</h2>
  <partial file="introduction" repeating="2"></partial>
   <h2 class="component-heading">Footer Navigation</h2>
  <partial file="site/footer-navigation" repeating="2"></partial>
    <h2 class="component-heading">Legal Text</h2>
  <partial file="site/legal-text" repeating="2"></partial>

</div>
