


<h2>Site Navigation</h2>
<partial file="/site/primary-nav"></partial>
<h2>Logo</h2>
<partial file="site/site-name"> </partial>
<h2>Introduction</h2>
<partial file="home/introduction"> </partial>
<h2>What is Cameo</h2>
<partial file="home/what-is-cameo" repeating="3"> </partial>
<h2>Why Use Cameo</h2>
<partial file="home/why-cameo" repeating="3"> </partial>
<h2>How Cameo Works</h2>
<partial file="home/how-cameo-works" repeating="3"> </partial>
<h2>Recent Blog Entries</h2>
<partial file="home/recent-blog-entries" repeating="2"> </partial>
<h2>Newsletter Signup</h2>
<partial file="home/newsletter-signup"> </partial>
<h2>Blost Post</h2>
<partial file="blog/blog-post"></partial>
<h2>Recent Blog Sidebar</h2>
<partial file="blog/blog-sidebar" repeating="2"></partial>

