<layout file="home-layout">

    <partial file="site/primary-nav"> </partial>

    <div region="header">
      <partial file="site/site-name"> </partial>
      <partial file="home/introduction"> </partial>
    </div>

    <div region="main">
      <partial file="home/what-is-cameo" repeating="3"> </partial>
      <partial file="home/why-cameo" repeating="3"> </partial>
      <partial file="home/how-cameo-works" repeating="3"> </partial>
      <partial file="home/recent-blog-entries" repeating="2"> </partial>
      <partial file="home/newsletter-signup"> </partial>
    </div>

    <footer region="footer">
      <partial file="site/footer-navigation"> </partial>
      <partial file="site/legal-text"> </partial>
    </footer>


</layout>
