<layout file="home-layout">

    <div block="header">
      <partial file="site/site-name"> </partial>
      <partial file="home/introduction"> </partial>
    </div>

    <div block="main">
      <div class="features">
        <partial file="home/what-is-cameo"> </partial>
        <partial file="home/why-cameo"> </partial>
        <partial file="home/how-cameo-works"> </partial>
      </div>
      <partial file="home/recent-blog-entries"> </partial>
      <partial file="home/newsletter-signup"> </partial>
    </div>


</layout>
