


<div id="container" class="styleguide page one-sidebar">
        <!-- $contentTitle = Item or Page Title -->
<!-- $authorName = Author Name -->
<!-- $twitterNick = @twitternick -->

  <header role="banner" class="global-header">
    <partial file="global/site-name"></partial>
    <partial file="global/nav-primary-auth"></partial>
  </header>

  <main role="main" class="main">

    <article class="main-content">

      <div class="content">

        <partial file="content/blog-post-title"></partial>
        <partial file="content/content-sample"></partial>

      </div> <!-- /.content -->

      <aside role="complementary" id="sidebar" class="content-secondary">

        <partial file="blocks/sample-styleguide-block"></partial>

      </aside> <!-- /.secondary -->

    </article> <!-- /.main-content -->

  </main><!-- /.main -->

  <footer class="global-footer">
    <partial file="global/nav-footer"></partial>
    <partial file="global/legal"></partial>
    <partial file="global/nav-social"></partial>
  </footer>

</div>
