


<div id="container" class="video-collection one-sidebar author-bar">

<!-- $contentTitle = Organic Groups Overview -->
<!-- $authorName = Joe Shindelar -->
<!-- $twitterNick = @eojthebrave -->

<header role="banner" class="global-header">
  <partial file="global/site-name"></partial>
  <partial file="global/nav-primary-auth"></partial>
</header>

<main role="main" class="main">

  <section class="hero player-container">

    <partial file="player/player"></partial>

  </section> <!-- /.hero -->

  <article class="main-content">

    <div class="content">

      <partial file="content/video-title"></partial>
      <partial file="content/video-description"></partial>

      <footer class="content-footer">
        <partial file="content/video-tags"></partial>
        <partial file="content/video-author"></partial>
      </footer> <!-- /.content-footer -->

      <partial file="content/comments"></partial>

    </div> <!-- /.content -->

    <aside role="complementary" id="sidebar" class="content-secondary">

      <partial file="blocks/collection-info"></partial>
      <partial file="blocks/video-resources"></partial>
      <partial file="blocks/video-suggestion"></partial>

    </aside> <!-- /.secondary -->

  </article> <!-- /.main-content -->

</main><!-- /.main -->

<footer class="global-footer">
  <partial file="global/nav-footer"></partial>
  <partial file="global/legal"></partial>
  <partial file="global/nav-social"></partial>
</footer>

</div>
