<div>
  <div id="sticky-header" class="sticky-header">
      <partial file="site/primary-nav"> </partial>
  </div>

  <header block="header" class="header" role="banner" >

  </header>

  <div class="main" role="main">
    <div block="content" class="content" role="article" >
    </div>

    <div block="sidebar-first" class="sidebar-first" >
    </div>
  </div>

  <footer class="footer" role="contentinfo" >
    <partial file="site/footer-navigation"></partial>
    <partial file="site/legal-text"></partial>
  </footer>

</div>
